<form method="GET" action="/search">

     <table>
                <tr>
                    <td>News Search:</td>
                    <td> <input type="text" name="search-term" size="30" placeholder="Please enter a search term" required> </td>
                </tr>

                <tr>

                    <td>
                        <input type="radio" name="country" value="us" id="us">
                <label for="us"><img src="flags/us.png" alt="US" width="100"></label>
                    </td>

                    <td>
                        <input type="radio" name="country" value="gb" id="uk">
                <label for="uk"><img src="flags/uk.png" alt="UK" width="100"></label>
                    </td>

                    <td>
                        <input type="radio" name="country" value="fr" id="fr">
                <label for="fr"><img src="flags/fr.png" alt="France" width="100"></label>
                    </td>
                    
                </tr>

                <tr>

                    <td>
                        <input type="radio" name="country" value="sg" id="sg">
                <label for="sg"><img src="flags/sg.png" alt="Singapore" width="100"></label>
                    </td>

                    <td>
                        <input type="radio" name="country" value="jp" id="jp">
                <label for="jp"><img src="flags/jp.png" alt="Japan" width="100"></label>
                    </td>

                    <td>
                        <input type="radio" name="country" value="cn" id="cn">
                <label for="cn"><img src="flags/cn.png" alt="China" width="100"></label>
                    </td>
                    
                </tr>
                

                <tr>

                    <td>
                        <label for="category">Choose a category:</label>
                        <select id="category" name="category"  >
                        <option value="business">Business</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="technology">Technology</option>
                        <option value="sports">Sports</option>
                        </select>
                    </td>
                
                </tr>

                <tr>
                    <td></td>
                    <td>
                    
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">Search</button>
                    </td>
                </tr>
            </table>

</form>

